.card-nota {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: rgba(184, 235, 204, 0.486);
    border-radius: 4px;
    flex-wrap: wrap;
    box-shadow: 0 0 4px rgba(136, 138, 136, 0.404);
    padding: 16px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .card-nota_cabecalho {
    font-size: 1.1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .card-nota_texto {
    margin-top: 8px;
    font-size: 1em;
  }
  
  .card-nota_titulo {
    font-size: 1.2em;
    margin-right: 12px;
    display: flex;
    flex-wrap: wrap;
  }

  h3 {
    color: dimgray;
    font-weight: bold;
    padding-bottom: 0.5rem;
    display: flex;
    flex-wrap: wrap;
  }

  p{
    color: gray;
  }

  .div-delete-titulo{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .img-svg-delete{
    padding-bottom: 0.5rem;
    fill: gray;
  }